# Virtual env
.venv/

# Python cache
__pycache__/
*.pyc

# Flask instance (local db, secrets)
instance/
*.db

# Migrations cache
migrations/__pycache__/
migrations/versions/__pycache__/

# Env files
.env
.env.*
